/budget-tracker-backend/node_modules
/budget-tracker-backend/.env
/budget-tracker-backend/package-lock.json
/budget-tracker-frontend/node_modules
/budget-tracker-frontend/.env
/budget-tracker-frontend/package-lock.json
/.hintrc